<%= form_for(@sendattach) do |f| %>
  <% if @sendattach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sendattach.errors.count, "error") %> prohibited this sendattach from being saved:</h2>

      <ul>
      <% @sendattach.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :attachment %><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
