<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sendattach.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sendattach.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sendattach.description %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @sendattach.attachment %>
</p>

<%= link_to 'Edit', edit_sendattach_path(@sendattach) %> |
<%= link_to 'Back', sendattaches_path %>
