<%= form_for(@predepend) do |f| %>
  <% if @predepend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@predepend.errors.count, "error") %> prohibited this predepend from being saved:</h2>

      <ul>
      <% @predepend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pretask_id %><br>
    <%= f.number_field :pretask_id %>
  </div>
  <div class="field">
    <%= f.label :pretaskdependto_id %><br>
    <%= f.number_field :pretaskdependto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
