<p id="notice"><%= notice %></p>

<h1>Listing Predepends</h1>

<table>
  <thead>
    <tr>
      <th>Pretask</th>
      <th>Pretaskdependto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predepends.each do |predepend| %>
      <tr>
        <td><%= predepend.pretask_id %></td>
        <td><%= predepend.pretaskdependto_id %></td>
        <td><%= link_to 'Show', predepend %></td>
        <td><%= link_to 'Edit', edit_predepend_path(predepend) %></td>
        <td><%= link_to 'Destroy', predepend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Predepend', new_predepend_path %>
