<%= form_for(@pretaskmembership) do |f| %>
  <% if @pretaskmembership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pretaskmembership.errors.count, "error") %> prohibited this pretaskmembership from being saved:</h2>

      <ul>
      <% @pretaskmembership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :pretask_id %><br>
    <%= f.number_field :pretask_id %>
  </div>
  <div class="field">
    <%= f.label :pretmember %><br>
    <%= f.number_field :pretmember %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
